.toolbar {
  width: 100vw;
  height: 5rem;
  position: static;
  background-image: url("../icons/test.jpg");
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 1);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 1);
  text-align: left;

  .toolbar__navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-items: center;
    margin-top: 0.5rem;

    .spacer {
      flex: 1;
    }

    .toolbar__navigation__items {
      text-decoration: none;
      margin: 0;


      ul {
        display: flex;
        list-style: none;

        a {
          text-decoration: none;
          color: #ECE9E6;
          padding: 0 0.2rem;
        }

        a:hover {
          color: orangered;
        }

        a:active {
          color: yellow;
        }
      }
    }

    .toolbar__logo {
      margin-left: 1rem;
      font-size: 2rem;
      font-family: "Dancing Script", sans-serif ;
      font-weight:700;


      a {
        font-weight: 700;
        text-decoration: none;
        margin: 0;
        color: orangered;
      }
    }
  }
}

@media (max-width: 768px) {
  .toolbar__navigation__items{
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}