.toggle-button {
  background-color: orangered;
  border-radius: 50%;
  margin-left: 1rem;
}


.hamburger-box {
  margin: 1em;
  width: 30px;

}

.hamburger-box:after,
.hamburger-box:before,
.hamburger-box div {
  background-color: white;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;

}

.hamburger-box:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.hamburger-box:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.hamburger-box:hover div {
  transform: scale(0);
}