.side-drawer {
  height: 100vh;
  background-image: url("../icons/14.jpg");
  box-shadow: 2px 0 5px rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  z-index: 200;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    li {
      margin: 0.5rem 0;


    a {
      text-decoration: none;
      color: #ECE9E6;
      font-size: 2rem;



    }
    a:hover {
      color: orangered;
    }
    a:active{
      color: yellow;
    }
  }
  }
}